@model ResetPasswordViewModel
@{
    Layout = "~/Areas/LexLibraryRbac/Views/Shared/_AccountLayout.cshtml";
    ViewData["Title"] = "重設密碼";
}
<form asp-action="ResetPassword">
    <input asp-for="Secret" type="hidden" />

    <div asp-validation-summary="ModelOnly" class="alert alert-danger"></div>

    <div class="form-group">
        <div class="form-label-group">
            <input asp-for="Password" type="password" class="form-control" placeholder="Password" />
            <label asp-for="Password"></label>
        </div>
        <span asp-validation-for="Password" class="text-danger"></span>
    </div>
    <div class="form-group">
        <div class="form-label-group">
            <input asp-for="ConfirmPassword" type="password" class="form-control" placeholder="ConfirmPassword" />
            <label asp-for="ConfirmPassword"></label>
        </div>
        <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
    </div>
    <button class="btn btn-primary btn-block" type="submit">送出</button>
</form>